name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - run: uv sync --all-extras --dev # install all optional dependencies to make lint happy
      - run: uv run ruff check --output-format=github
      - run: uv run ruff format --diff
      - run: uv run ty check --output-format=github
      - run: uv run pytest
